.table-container {
  overflow-x: auto; /* スマホで表がはみ出ないように横スクロールを許可 */
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: pre; 
}

th {
  background-color: #25abc1; 
  color: white;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* 1行おきに色を変えて見やすく */
}

tr:hover {
  background-color: #f1f8f9; /* マウスを乗せた時に色を変える */
}