/* タイムライン全体の枠 */
.timeline-container {
  position: relative;
  margin: 40px 0;
  padding-left: 100px;
}

/* 縦のボーダーライン（実線部分） */
.timeline-container::before {
  content: '';
  position: absolute;
  left: 75px;
  top: 0;
  bottom: 0px; 
  width: 2px;
  background-color: #25abc1;
}

/* 点線部分 */
.timeline-container::after {
  content: '';
  position: absolute;
  left: 75px;
  /* 実線が終わる位置からスタート */
  top: 100%;
  height: 50px; 
  width: 2px;
  /* 点線（dashed）を指定 */
  border-left: 2px dashed #25abc1;
}

/* 各項目のブロック */
.timeline-item {
  position: relative;
  margin-bottom: 40px; /* 余白を少し広げると点線が綺麗に見えます */
}

/* ライン上の点 */
.timeline-item::before {
  content: '';
  position: absolute;
  left: -33px;
  top: 8px;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 3px solid #25abc1;
  border-radius: 50%;
  z-index: 1;
}

/* 年号（奇数行） */
.timeline-year {
  font-weight: bold;
  font-size: 18px;
  color: #25abc1;
  display: block;
  margin-bottom: 5px;
}

/* 内容（偶数行） */
.timeline-content {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}